!!!
%html
  %head
    %title (╯°□°）╯︵ ┻━┻
    -#%link(href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css')
  %script(type="text/javascript" src="/javascript/jquery-1.7.1.min.js")
  %script(type="text/javascript" src="/javascript/jquery-ui-1.8.17.custom.min.js")

  %body(oncontextmenu="return false;")
    #wrapper
      = yield
